{% extends "base.html" %}
{% load static %}
{% block content %}
{% block extrahead %}
    {{ solution_form.media }}
{% endblock %}

<style type="text/css">
    section {
        width: 80%;
        margin: 2rem auto;
    }
    .control-ul {
        list-style-type: none;
        padding: 0;
    }
    .control-component {
        display: inline-block;
    }
    .problem {
        margin-top: 1rem
    }
    #id_lang_mode {
        width: 10rem;
    }
    .editor {
        border: 1px solid #e0e0e0;
        border-radius: 4px;
    }
</style>

<section class="problem">
<h1>{{ problem.title }}</h1>

<div>
    {{ problem.get_markdown_prob_content }}
</div>
</section>
<section class="coderunner">
<form id="solution-form" role="form" method="POST" action="" novalidate>
    <div class="control-box hidden">
        <ul class="control-ul">
            <li class="control-component">
                <input type="hidden" name="lang_mode" id="id_lang_mode" value="python3"/>
            </li>
        </ul>
    </div>
    <div class="form-group">
        {{ solution_form.code }}
    </div>
</form>
<div class="control-panel">
    <div class="row">
        <div class="col-md-8 col-sm-7">
            {{ testcase_form.content }}
        </div>
        <div class="col-md-4 col-sm-5">
            <div class="control-box pull-right">
                <ul class="control-ul">
                    <li class="control-component">
                        <button id="run-code" class="btn btn-default" type="button" {{ request.user.is_authenticated|yesno:',disabled' }} onclick="run()"><i class="fa fa-play-circle-o" aria-hidden="true"></i> RUN</button>
                    </li>
                    <li class="control-component">
                        <button id="save-solution" class="btn btn-default" type="button" {{ request.user.is_authenticated|yesno:',disabled' }} onclick="save_solution()"><i class="fa fa-save" aria-hidden="true"></i> SAVE</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</section>
<section class="output">
    <div class="result"></div>
</section>
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
{% endblock %}

{% block extra_js %}
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
       return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    function save_solution() {
        $.ajax({
            type: "post",
            url: "{% url 'algopraxis:save_solution' slug=problem.slug %}",
            data: $('#solution-form').serialize(),
            success: function(result) {
                alert('solution saved');
            },
            error: function(xhr, emsgs, err) {
                alert(emsgs);
                alert(xhr.status + ": " + xhr.responseText);
            }
        });
    };

    function save_testcases() {
        $.ajax({
            type: "post",
            url: "{% url 'algopraxis:save_testcase' slug=problem.slug %}",
            data: $('#testcases-form').serialize(),
            success: function(result) {
                alert('testcases saved');
            },
            error: function(xhr, emsgs, err) {
                alert(emsgs);
                alert(xhr.status + ": " + xhr.responseText);
            }
        });
    }

    function run() {
        var post_data = {};
        post_data["lang_mode"] = $("#solution-form").find("#id_lang_mode").val()
        post_data["code"] = $("#solution-form").find("#id_code").text()
        post_data["testcases"] = $("#id_content").val();

        $.ajax({
            type: "post",
            url: "{% url 'algopraxis:run' slug=problem.slug %}",
            data: post_data,
            success: function(result) {
                var output_panel = $('.result');
                $.each(result, function() {
                    output_panel.append('<p>' + this + '</p>');
                });
            },
            error: function(xhr, emsgs, err) {
                alert(emsgs);
                alert(xhr.status + ": " + xhr.responseText);
            }
        });
    };
{% endblock %}