{% extends "base.html" %}
{% load static %}

{% block header %}
    <style type="text/css">
        hr.custom {
            margin: 5rem auto;
        }
    </style>
    <hr class="custom logo" />
{% endblock header %}
{% block content %}
<style type="text/css">
    .about-box {
        margin: auto;
        text-align: center
    }
    .about-box h2 {
        margin: 0.5rem 0 !important;
    }
    .about-box .text-content {
        font-size: 1.2rem;
    }
    span.logo {
        font-family:anurati;
        font-size: 0.8rem;
        color: #A9353B;
        letter-spacing: 0.4rem;
    }
    .social-media-box {
        width: 100%;
        margin: 3rem 0;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .social-media-box ul {
        list-style: none;
        padding: 0;
    }
    .social-media-box ul li {
        display: inline-flex;
        align-items:center;
        padding: 0;
        margin: 0 20px;
    }
    @media only screen
    and (max-width: 1024px) {
        .main-content-box {
            padding: 0 15px;
        }
    }
</style>
<section class="main-content-box">
    <article class="about-box">
        <p>
            The idea of this website came from LeetCode. <br />
            I just thought that it must be cool that I could build my own online judgement website. <br />
            then <span class="logo">ALGOPRAXIS</span> was born.<br/><br/>

            The website was built with <strong>Django</strong> as the backend.<br />
            <strong>Celery</strong> and <strong>RabbitMQ</strong> have been implemented to run the codes with the worker.<br />
            Due to it's a personal project, <strong>RabbitMQ</strong> is installed in the same server.<br />
            But it is very easy to migrate <strong>RabbitMQ</strong> to another server if there is the needs in the future.<br /><br />

            <strong>jQuery</strong> and <strong>Bootstrap</strong> were used to build the web pages.<br />

            As the latest update, not only <strong>Python3</strong> but also <strong>JAVA</strong> and <strong>C++</strong> have been implemented.<br />
            However, some utilities of <strong>C++</strong> have not been implemented yet.<br />
            And therefore the future work of coderunner is to complete the implementation of utilities for <strong>C++</strong>. <br /><br />

            Finally, Thank you very much for visiting <span class="logo">ALGOPRAXIS</span>.<br />
        </p>
    </article>
    <div class="social-media-box">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
        <ul class="clearfix">
            <li><a href="https://github.com/ddrsmile/algopraxis.joeyliu"><i class="fa fa-github fa-5x" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</section>
{% endblock content %}