{% extends "base.html" %}
{% block header %}
    <style type="text/css">
        hr.custom {
            margin: 5rem 0;
        }
    </style>
    <hr class="custom logo" />
{% endblock header %}
{% block content %}
<style type="text/css">
    .signin-form-box {
        margin: auto;
        width: 340px;
        padding: 1rem;
        border: 0.01rem solid rgba(46,61,73,0.15);
        border-radius: 0;
        box-shadow:2px 4px 8px 0px rgba(46,61,73,0.2)
    }
    .signin-form-box h2 {
        margin: 0.5rem 0 !important;
    }
    #signin-form label {
        display: block;
        margin: auto;
    }
    .btn-custom {
        display: block;
        margin: 2rem auto 0 auto;
        width: 50%;
    }
</style>
<section class="main-content">
    <div class="signin-form-box">
        <form id="signin-form" method="POST" action="{% url 'algopraxis:signin' %}?next={{ next }}">
            {% csrf_token %}
            <label for="username">USER NAME</label>
            <input class="form-control" type="text" id="username" name="username" />
            <label for="password">PASSWORD</label>
            <input class="form-control" type="password" id="password" name="password" />
            <button class="btn btn-primary btn-custom" type='submit'>SING IN</button>
        </form>
    </div>
</section>

{% if emsg %}
<div id="error-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Authentication Error</h4>
      </div>
      <div class="modal-body">
        <p>{{ emsg }}</p>
      </div>
    </div>

  </div>
</div>
{% endif %}
{% endblock %}

{% if emsg %}
{% block js_document_ready %}
    $('div#error-modal').modal('show');
    setTimeout(function() {
        $('div#error-modal').modal('hide');
    }, 3000);
{% endblock %}
{% endif %}