amqp==2.2.1
billiard==3.5.0.3
celery==4.0.2
Django==1.11.2
django-filter==1.0.4
django-taggit==0.22.1
djangorestframework==3.6.3
gunicorn==19.7.1
kombu==4.1.0
Markdown==2.6.8
PyMySQL==0.7.11
pytz==2017.2
redis==2.10.5
vine==1.1.4
